body {
  background: #fff; 
}
h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: .5;
	font-family: sans-serif;
  color: #000000;
} 
#loader {
  animation: loader 5s linear ;
  height: 40px;
  width: 41px;
  position: fixed;
  top:calc(50% - 100px);
  left:calc(50% - 100px);
} 
@keyframes loader {
} 
#top {
  animation: top 20s cubic-bezier(1,0.8,0.4,0.1);
  border-top: 100px solid #ff3300;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
  position: absolute;
  left: -200px;
  top: -200px;
}
@keyframes top {
  100% { transform: scale(0);}
}
#bottom {
  animation: bottom 20s cubic-bezier(.2,0.5,0.7,1);
  border-right: 100px solid transparent;
  border-bottom: 100px solid #ff3300;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
  position: absolute;
  left: -200px;
  top: -100px; 
}
@keyframes bottom {
  50% { transform: scale(0);}
  100% { transform: scale(1); }
}
#top2 {
  animation: top2 20s cubic-bezier(1,0.8,0.4,0.1);
  border-top: 100px solid #0000ff;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
  position: absolute;
  left: -200px;
  top: -200px;
  transform: scale(0.5);
}
@keyframes top2 {
  50% { transform: scale(0); }
  100% { transform: scale(0); }  
}
#bottom2 {
  animation: bottom2 20s cubic-bezier(.2,0.5,0.7,1);
  border-right: 100px solid transparent;
  border-bottom: 100px solid #0000ff;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
  position: absolute;
  left: -200px;
  top: -100px;
}
@keyframes bottom2 {
  5% { transform: scale(0); }
  50% { transform: scale(.5); }
  100% { transform: scale(.5); }
}
#line {
  animation: line 20s linear;
  border-left: 1px dotted #ff3300;
  height: 0px;
  width: 0px;
  position: absolute;
  left: -100px;
  top: -100px;
}
@keyframes line {
  5% { height: 100px; }
  100% { height: 100px; }
}
#line2 {
  animation: line2 20s linear;
  border-left: 1px dotted #0000ff;
  height: 0px;
  width: 0px;
  color: #0000ff;
  position: absolute;
  left: -100px;
  top: -100px;  
}
@keyframes line2 {
  5% { height: 100px; }
  50% { height: 100px; }
  50.1% { height: 0px;}
  100% { height: 0px; }
}

